.git
.gitignore
.sass-cache
sass
prepros-6.config

css/*
!css/style.css

js/*
!js/main.js

fonts

images/*
!images/favicon.svg
!images/portfolio-social-preview.png
!images/Mathew-Uckele-Resume-2026.pdf
